/* Heading */
header{
	background-image: url("musichead.jpg");
	background-size: cover;
	background-color: #cccccc;
}
.head1{
	font-size:40px;
	color:#0C41F4;
	font-weight:bold;
	font-family: 'Brush Script MT', cursive;
	text-shadow: 2px 2px #FF0000;
}
.head2{
	color:red;
	font-size:40px;
	font-weight:bold;
	font-family: 'Brush Script MT', cursive;
	text-shadow: 2px 2px blue;
}
#head3{
	margin-left:8px;
	background-color:yellow ;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-image: url("musichead2.jpg");
  background-size: cover;
  background-color: #cccccc;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}

.nav1{
	background-color:orange;
	border: 1px solid blue;
	font-size: 16px;
	padding: 14px 16px;
	margin: 0;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: 1px solid blue;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: skyblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

body{
	background-image: url("back4.jpg");
	background-size: cover;
	background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
	font-size:25px;
	color:white;
	background-color:black;
	font-family: "Times New Roman", Times, serif;
}

.poster{
	background-color: rgba(255, 148, 182, 0.5);
	width: 170px;
	border: 1px solid pink;
	padding: 6px;
	padding-bottom: 0px;
	margin: 8px;
	text-align: center;
	box-shadow: 4px 4px blue;
	float:left;
}

.poster:hover{
	transform: scale(1.1);
  background-color: rgba(248, 18, 91, 0.5); 
	border:1px solid blue;
	box-shadow:4px 4px blue;
}

.poster img{
	width:120px;
	height:120px;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
	box-shadow:4px 4px wheat;
}

.poster h2{
	font-size:16px;
	
	padding: 2px;
	margin: 2px;

	background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.po2{
	font-size:15px;
	text-shadow: 2px 2px rgb(17, 21, 241);
}

#po3{
	color:pink;
	padding: 2px;
	margin: 0px;
}

#po4{
	color:yellow;
	padding: 2px;
	margin: 0px;
}

audio{
	width:4.5cm;
	height: 0.6cm;
	padding: 2px;
	margin: 1.5px;
	margin-left: 0px;
}

.btn {
	background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
	border: 2px solid blue;
	color: white;
	padding: 2px;
	margin: 2px;
	cursor: pointer;
	font-size: 15px;
	border-radius: 12px;
}

.btn:hover {
	background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #ff1361 29%,
    #44107a 67%,
    #231557 100%
  );
}

#intro{
	background-color: rgba(106, 99, 71, 0.2);
}

#intro1{
	font-family:  cursive;
	font-size:30px;
	
	padding:0px;
	margin:5px;

	background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
	to {
	  background-position: 200% center;
	}
  }

#intro2{
	font-family:  cursive;
	padding:5px;
	margin:0px;
	color:rgb(16, 20, 241);
}

.space{
	margin:335px;
}
.space2{
  margin: 20px;
}

.more{
  margin-top: 260px;
  padding: 10px;
  cursor:pointer;
  font-weight: bold;
  color: blue;
  border-color: #44107a;
  border-radius: 12px;
  background-color: orange;
}
.more:hover{
  transform: scale(1.1);
  border-color: #44107a;
  color: blue;
  background-color: rgb(255, 0, 0);
}

footer{
	background-color: rgba(90, 99, 71, 0.7);
	padding: 0px;
	margin: 0px;
	border:1px solid rgba(90, 99, 71, 0.7) ;
}

footer p{
	font-size: 16px;
	padding: 4px;
	margin: 6px;
}

#footer2{
	color: orange;
	margin: 2px;
	font-size: 15px;
	font-weight: bold;
}

.social-media {
    
    height: 7rem;
    width: 350px;
    display: flex;
	padding: 0px;
	margin: 0px;
}
.social-media img:hover{
	transform: scale(1.1);
	border:2px solid grey;
	box-shadow:4px 4px black;
}
#facebook{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 70px;
    margin-top: 40px;
	border:2px solid grey;
	box-shadow:4px 4px black;
}
#instagram{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
	border:2px solid grey;
	box-shadow:4px 4px black;
}
#likedin{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
	border:2px solid grey;
	box-shadow:4px 4px black;
}
#slack{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
	border:2px solid grey;
	box-shadow:4px 4px black;
}
#youtube{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
	border:2px solid grey;
	box-shadow:4px 4px black;
}


